@model HabibCoach.Models.DailyRoutine

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DailyRoutine</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgramId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgramId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoutineTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoutineTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoutineNote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoutineNote)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DailyRoutineId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
